.filter-bar::before,
.filter-bar::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #979797;
}
.filter-bar::before {
  left: 67%;
}
.filter-bar::after {
  right: 59%;
}
.filter-hidden,
.btn-hidden{
    display: none;
    cursor: pointer;
}
.filter-bar{
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 80%;
  height: 80px;
  margin: auto; 
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.filter-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
.filter-content .filter-text{
  width: 312px;
  border: none;
  outline: none;
  caret-color: #5964E0;
}
.filter-content .filter-location{
  width: 169px;
  border: none;
  outline: none;
  caret-color: #5964E0;
}
.filter-content div {
  display: flex;
  align-items: center;
}
.filter-content img {
  max-width: 100%; 
  padding: 20px;
}
.filter-content p {
  margin: 0;
}
.filter-content .checkbox {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 3px; 
  cursor: pointer;
}
.search-btn{
  width: 123px;
  height: 48px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #5964E0;
  cursor: pointer;
}
@media (max-width: 1024px){ 
  .filter-content .fulltime{
    margin-right: 7px;
    white-space: nowrap; 
    max-width: 96px;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  .filter-bar {
    position: absolute;
    top: 8%;
    left: 50%;
  }
  .filter-content .search-btn {
    width: 60px;
    height: 48px;
    cursor: pointer;
    margin-right: 30px; 
  }
  .filter-bar::before {
    left: 56%;
  }
  .filter-bar::after {
    right: 76%;
  }
  .filter-content .filter-text {
    font-size: 16px; 
    white-space: nowrap; 
    width: 138px;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .filter-content .filter-location {
    font-size: 16px; 
    white-space: nowrap; 
    max-width: 133px;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  .filter-content .checkbox{
    width: 132px;
  }
}

@media screen and (max-width: 768px) { 
  .filter-bar::before,
  .filter-bar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #979797;
    display: none;
  }
  .filter-bar {
    width: 75%;
    border-radius: 5px;
    position: absolute;
    top: 12%;
    left: 50%;
  }
  .search-img{
    display: none;
  }  
 .search-hidden {
      display: none;
  }
  .filter-text{
    margin-left: 10px;
    margin-right: 80px;
  }
  .filter-hidden,
  .btn-hidden {
    margin-right: 20px; 
    padding: 5px; 
  }
  .btn-hidden {
    background-color: #5964E0;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
  }
  .btn-hidden img {
    margin: 0; 
    padding-right: 40px;
  }
  .img-color-change {
    filter: brightness(0) invert(1);
  }
  .filter-content .search-btn {
    display: none;
  }
  .filter-content div {
    margin-bottom: 10px;
  }
  .filter-content .filter-text {
    font-size: 16px; 
    white-space: nowrap; 
    width: 103px;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .filter-content .filter-location {
    font-size: 12px; 
    white-space: nowrap; 
    max-width: 0px;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  .filter-content .location{
    display: none;
  }
  .filter-content .fulltime{
    display: none;
  }
  .filter-content .checkbox{
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .filter-bar {
    width: 85%;
    border-radius: 5px;
    position: absolute;
    top: 12%;
    left: 50%;
  }
}
@media screen and (max-width: 340px) {
  .filter-text{
    margin-left: 10px;
    margin-right: 30px;
  }
  .filter-bar {
    top: 18%;
  }
}
.jobs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 40px auto;
    margin-top: 120px;
    max-width: 1200px; 
    width: 85%;
}
.jobs-card {
    width: 350px; 
    max-width: 90%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
    margin: 20px auto;
    box-sizing: border-box;
}
.jobs-card div[style^="background-color"] {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 18px;
  margin-top: -38px;
  position: absolute;
}
.jobs-card div[style^="background-color"] img {
  width: 20px;
  height: 100%;
  padding-left: 15px;
  object-fit: contain;
  cursor: pointer;
}
.jobs-card p,
.jobs-card h3,
.jobs-card h4 {
    padding-left: 10px;
}
.jobs-card p{
    color: #4b5563;
}
.jobs-card h4 {
  color: #5964E0;
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
}  
@media (max-width: 1024px) {
  .jobs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .jobs-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 90px; 
  }
}
@media only screen and (max-width: 480px) {
  .jobs-container {
    grid-template-columns: 1fr; 
    width: 90%; 
    margin-top: 80px; 
  }
  .jobs-card {
    width: 100%; 
    max-width: none;
    margin: 20px 0;
  }
  .jobs-card div[style^="background-color"] {
    margin-left: 0; 
    width: 40px;
    height: 40px; 
    margin-top: -28px; 
  }
  .jobs-card div[style^="background-color"] img {
    padding-left: 10px; 
  }
  .jobs-card p,
  .jobs-card h3,
  .jobs-card h4 {
    padding-left: 0; 
  }
}
.load-more-btn {
    width: 141px;
    height: 48px;
    color: #FFFFFF;
    background-color: #5964E0;
    border: none;
    justify-content: center;
    margin: 3rem 5rem 5rem 36rem; 
}
@media screen and (max-width: 1024px)  {
    .load-more-btn {
        margin: 5rem 6rem 5rem 26rem;
    }
}
@media screen and (max-width: 768px){
    .load-more-btn {
        margin: 2rem 0rem 4rem 10rem;
    }
}
@media (max-width: 480px){
  .load-more-btn {
    margin: 2rem 0rem 4rem 7rem;
  }
}
@media only screen and (max-width: 767px) {
  .filter-hidden,
  .btn-hidden {
      display: inline-block;
  }
  .btn-hidden{
    width: 45px;
    height: 45px;
  }
}