


    <div class="jobs-container">
      <div *ngFor="let job of jobs" routerLink="/{{ job.id }}" class="jobs-card">
        <div [style.background-color]="job.logoBackground">
          <img [src]="job.logo" alt="job.title">
        </div>
  
        <div class="flex">
          <div class="flex">
            <p>{{ job.postedAt }}</p>
            <span></span>
            <p>{{ job.contract }}</p>
          </div>
          
          <h3>{{ job.position }}</h3>
          <p>{{ job.company }}</p>
        </div>

        <h4>{{ job.location }}</h4>

      </div>
    </div>

  

