
.h-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .h-title {
    margin: 0;
  }
  
  .h-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }
  
  .h-toggle img {
    max-width: 100%;
  }
  
  .h-toggle input {
    margin: 10px;
    width: 48px;
    height: 24px;
    border: none;
    border-radius: 20px;
  }
  