<div class="h-contents">
    <div class="h-title">
      <h2 style="color: #FFFFFF;">devjobs</h2>
    </div>
  
    <div class="h-toggle">
      <img [src]="isDarkMode ? '../assets/desktop/icon-moon.svg' : '../assets/desktop/icon-sun.svg'" alt="" (click)="toggleTheme()">
      <input type="checkbox" id="themeSwitch" [checked]="isDarkMode" (change)="toggleTheme()">
      <label for="themeSwitch"></label>
      <img [src]="isDarkMode ? '../assets/desktop/icon-sun.svg' : '../assets/desktop/icon-moon.svg'" alt="" (click)="toggleTheme()">
    </div>
</div>
  