.load-more-btn {
    width: 141px;
    height: 48px;
    color: #FFFFFF;
    background-color: #5964E0;
    border: none;
    justify-content: center;
    margin: 89rem 0px 5rem 36rem; 
}

@media screen and (max-width: 1024px)  {
    .load-more-btn {
        margin: 130rem 0 5rem 25rem;
    }
}

@media screen and (max-width: 768px){
    .load-more-btn {
        margin: 275rem 0 4rem 7rem;
    }
}

@media (max-width: 480px){
    
}