.load-more-btn {
    width: 141px;
    height: 48px;
    color: #FFFFFF;
    background-color: #5964E0;
    border: none;
    justify-content: center;
    margin: 3rem 5rem 5rem 36rem; 
}

@media screen and (max-width: 1024px)  {
    .load-more-btn {
        margin: 5rem 6rem 5rem 22rem;
    }
}

@media screen and (max-width: 768px){
    .load-more-btn {
        margin: 5rem 0rem 4rem 8rem;
    }
}

@media (max-width: 480px){
    
}