
.devjob-header {
  position: relative;
}

.devjob-header img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 1024px) {

  .devjob-header img {
    height: 121px; 
  }
}

@media (max-width: 768px) {

  .devjob-header img {
      height: 121px; 
    }


  .filter-bar {
    top: 70%;
  }
}


.jobs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 40px auto;
  margin-top: 120px;
  max-width: 1200px; 
  width: 85%;
}

.jobs-card {
  width: 350px; 
  max-width: 90%; 
  height: auto; 
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
  margin: 20px auto;
  box-sizing: border-box;
}

.jobs-card div[style^="background-color"] {
margin-left: 10px;
width: 50px;
height: 50px;
overflow: hidden;
border-radius: 18px;
margin-top: -38px;
position: absolute;
}

.jobs-card div[style^="background-color"] img {
width: 20px;
height: 100%;
padding-left: 15px;
object-fit: contain;
cursor: pointer;
}

.jobs-card p,
.jobs-card h3,
.jobs-card h4 {
  padding-left: 10px;
}

.jobs-card p{
  color: #4b5563;
}

.jobs-card h4 {
color: #5964E0;
font-weight: bold;
margin: 0;
padding-left: 10px;
}

@media (max-width: 1024px) {
.jobs-container {
  grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 768px) {
.jobs-container {
  grid-template-columns: repeat(1, 1fr);
  margin-top: 90px; 
}
}

@media only screen and (max-width: 480px) {
.jobs-container {
  grid-template-columns: 1fr; 
  width: 90%; 
  margin-top: 80px; 
}

.jobs-card {
  width: 100%; 
  max-width: none;
  margin: 20px 0;
}

.jobs-card div[style^="background-color"] {
  margin-left: 0; 
  width: 40px;
  height: 40px; 
  margin-top: -28px; 
}

.jobs-card div[style^="background-color"] img {
  padding-left: 10px; 
}

.jobs-card p,
.jobs-card h3,
.jobs-card h4 {
  padding-left: 0; 
}
}


.load-more-btn {
  width: 141px;
  height: 48px;
  color: #FFFFFF;
  background-color: #5964E0;
  border: none;
  justify-content: center;
  margin: 3rem 5rem 5rem 36rem; 
}

@media screen and (max-width: 1024px)  {
  .load-more-btn {
      margin: 5rem 6rem 5rem 26rem;
  }
}

@media screen and (max-width: 768px){
  .load-more-btn {
      margin: 2rem 0rem 4rem 10rem;
  }
}

@media (max-width: 480px){
.load-more-btn {
  margin: 2rem 0rem 4rem 7rem;
}
}


@media only screen and (max-width: 767px) {
.filter-hidden,
.btn-hidden {
    display: inline-block;
}

.btn-hidden{
  width: 45px;
  height: 45px;
}
}






