  .devjob-header {
    position: relative;
  }
  
  .devjob-header img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .filter-bar {
    border: 2px blue solid;
    width: 80%;
    height: 80px;
    margin: auto; 
    position: absolute;
    top: 80%;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .devjobs-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 121px;
    margin: 40px 10% auto 10%; 
    margin-top: 90px;
  }

  @media (max-width: 768px) {
    .devjobs-cards {
      grid-template-columns: repeat(1, 1fr);
    }

    .devjob-header img {
        height: 121px; 
      }
  }
  
  
  