.devjob-header {
  position: relative;
}
.devjob-header img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 1024px) {

  .devjob-header img {
    height: 121px; 
  }
}
@media (max-width: 768px) {
  .devjob-header img {
      height: 121px; 
    }
  .filter-bar {
    top: 70%;
  }
}