<div class="devjob-header">
    <img src="../assets/desktop/bg-pattern-header.svg" alt="">

    <header-content></header-content>

    <div class="filter-bar">
        <filter-bar></filter-bar>
    </div>
</div>

<div class="devjobs-cards">
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>

    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>

    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>

    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
</div>

<app-load-more-btn></app-load-more-btn>



<router-outlet></router-outlet>
