<div class="devjob-header">
    <img src="../assets/desktop/bg-pattern-header.svg" alt="">
</div>

<div class="devjobs-cards">
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>

    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>

    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>

    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
    <devjobs-card></devjobs-card>
</div>



<router-outlet></router-outlet>
