
.job-header{
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 730px;
  height: 140px;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  display: flex;
  justify-content: space-around;
  align-items: center;

}

.job-header .company-img{
  border-radius: 0 0 0 5px;
  width: 140px;
  height: 140px;
}
.company-logo{
width: 50px;
height: 50px;
padding: 40px;
}

.company-site{
  border: none;
  border-radius: 5px;
  color: #5964E0;
  background-color: none;
  width: 147px;
  height: 48px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.company-site:hover {
background-color: #939BF4;
}

.job-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobs-info{
margin: 40px auto;
padding: 20px;
margin-top: 160px;
width: 730px;
box-sizing: border-box; 
padding: 20px;
max-width: none;
height: auto;
border-radius: 5px;
padding: 20px;
box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
box-sizing: border-box;
}

.info-card p, li{
  color: #4b5563;
}

.info-card li::marker{
  color: #5964E0;
}


.info-card h4 {
color: #5964E0;
font-weight: bold;
margin: 0;
}


.jobs-footer {
  background-color: #FFFFFF;
  width: 100%;
  height: 96px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs-footer div {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  5px 130px 0 130px;  
}

.jobs-footer h3, .jobs-footer p {
  margin: 0;
}

.apply-btn{
  border-radius: 5px;
  background-color: #5964E0;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.apply-btn:hover{
  background-color: #939BF4;
}


@media (max-width: 1024px){ 
  .job-header {
    width: 90%;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .jobs-info {
    width: 90%;
    margin-top: 160px;
  }

  .company-site {
    margin-right: 10px;
  }

  .jobs-footer div {
    margin: 5px 10px 0 10px;
  }
}


/* Tablet view */
@media only screen and (max-width: 768px) {
  .job-header {
    width: 90%;
    height: auto;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

  .jobs-info {
    width: 90%;
    margin-top: 160px;
  }

  .company-site {
    margin-right: 10px;
  }

  .jobs-footer div {
    margin: 5px 10px 0 10px;
  }
}

@media only screen and (max-width: 480px) {
.job-header {
  width: 90%;
  height: auto;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column; 
  align-items: center;
}
.jobs-info {
  margin-top: 260px;
}
.job-header .company-img{
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin-top: -22px;
}
.job-details {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.job-details h3,
.job-details h4 {
  margin: 5px 0;
}

.apply-btn {
  width: 100%;
  margin-top: 10px;
}

.company-logo{
  width: 20px;
  height: 20px;
  padding: 15px;
  object-fit: contain;
}


.company-site {
  margin: 30px;
}

.jobs-footer div {
  margin: 0 10px 10px 10px;
}
.job-position{
  display: none;
}
}

