  .filter-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }

  .filter-content div {
    display: flex;
    align-items: center;
  }
  
  .filter-content img {
    max-width: 100%; 
    padding: 20px;
  }
  
  .filter-content p {
    margin: 0;
  }
  
  .filter-content input {
    margin-right: 5px;
    width: 24px;
    height: 24px;
    border: none !important;
    border-radius: 3px;
    background-color: #6E8098 !important; 
  }
  

  .search-btn{
    width: 123px;
    height: 48px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #5964E0;
  }
  

  @media (max-width: 768px) { 
    .search-img{
      display: none;
    }  
    .filter-content .search-btn {
      /* display: none;  */
    }
  
    .filter-content .search-icon {
      background-image: url('/assets/desktop/icon-search.svg');
      width: 24px;
      height: 24px;
      background-size: cover;
      cursor: pointer;
    }
    .filter-content div {
      margin-bottom: 10px;
    }
  
    /* .filter-content img {
      padding: 10px;
    } */
  
    .filter-content .filter-text {
      font-size: 16px; 
      white-space: nowrap; 
      width: 103px;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    .filter-content .filter-location {
      font-size: 12px; 
      white-space: nowrap; 
      max-width: 0px;
      overflow: hidden; 
      text-overflow: ellipsis; 
    }
    .filter-content .location{
      display: none;
    }
    .filter-content .fulltime{
      display: none;
    }
    .filter-content .checkbox{
      display: none;
      background-image: url('/src/assets/desktop/icon-search.svg');
    }
  }
  
  