<div class="filter-content">
    <div>
        <img src="../assets/desktop/icon-search.svg" alt="" class="search-img">
        <p class="filter-text">Filter by title, companies, expertise…</p>
    </div>

    <div>
        <img src="../assets/desktop/icon-location.svg" alt="" class="location">
        <p class="filter-location">Filter by location…</p>
    </div>

    <div>
        <input style="color: #6E8098;" type="checkbox" name="checkbox" id="" class="checkbox">
        <p class="fulltime">Full Time Only</p>
    </div>

    <div>
        <button class="search-btn">Search</button>
    </div>
</div>
