

<div class="filter-content">
    <div>
        <img src="../assets/desktop/icon-search.svg" alt="" class="search-img">
        <input class="filter-text" type="text" [(ngModel)]="filterText" placeholder="Filter by title, companies, expertise…">
    </div>
    
    <div>
        <img src="../assets/desktop/icon-location.svg" alt="" class="location">
        <input class="filter-location" type="text" [(ngModel)]="filterLocation" placeholder="Filter by location…">
    </div>
    <!-- <div>
        <img src="../assets/desktop/icon-search.svg" alt="" class="search-img">
        <input class="filter-text" type="text" placeholder="Filter by title, companies, expertise…">
    </div>

    <div>
        <img src="../assets/desktop/icon-location.svg" alt="" class="location">
        <input class="filter-location" type="text" placeholder="Filter by location…">
    </div> -->

    <div>
        <input *ngIf="!isMobile" type="checkbox" name="checkbox" id="" class="checkbox" [(ngModel)]="isFilterActive">
        <img *ngIf="isMobile" src="assets/mobile/icon-filter.svg" alt="Filter Icon" (click)="toggleFilter()">
        <p class="fulltime">{{ isFilterActive ? 'Filter activated' : 'Full Time Only' }}</p>
    </div>

    <div>
        <button type="button" *ngIf="!isMobile" class="search-btn"  (click)="applyFilters()">Search</button>
        <img style="height: 8px; width: 8px;" *ngIf="isMobile" src="../../assets/desktop/icon-search.svg" alt="Search Icon" class="search-btn" (click)="toggleSearch()">
    </div>
</div>
