  /* .filter-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }

  .filter-content .filter-text{
    width: 312px;
    border: none;
    outline: none;
    caret-color: #5964E0;
  }

  .filter-content .filter-location{
    width: 169px;
    border: none;
    outline: none;
    caret-color: #5964E0;
  }

  .filter-content div {
    display: flex;
    align-items: center;
  }
  
  .filter-content img {
    max-width: 100%; 
    padding: 20px;
  }
  
  .filter-content p {
    margin: 0;
  }
  
  .filter-content .checkbox {
    margin-right: 5px;
    width: 24px;
    height: 24px;
   
    border-radius: 3px;
    background-color: #6E8098 !important; 
  }
  

  .search-btn{
    width: 123px;
    height: 48px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #5964E0;
    cursor: pointer;
  }
  

  @media (max-width: 1024px){ 

    .filter-content .search-btn {
      width: 80px;
      height: 48px;
      cursor: pointer;
    }


    .filter-content .filter-text {
      font-size: 16px; 
      white-space: nowrap; 
      width: 103px;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    .filter-content .filter-location {
      font-size: 16px; 
      white-space: nowrap; 
      max-width: 133px;
      overflow: hidden; 
      text-overflow: ellipsis; 
    }

  }
  
  

  @media (max-width: 768px) { 
    
    .search-img{
      display: none;
    }  

  
    .filter-content .search-btn {
      width: 48px;
      height: 48px;
      cursor: pointer;
    }
    .filter-content div {
      margin-bottom: 10px;
    }

  
    .filter-content .filter-text {
      font-size: 16px; 
      white-space: nowrap; 
      width: 103px;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    .filter-content .filter-location {
      font-size: 12px; 
      white-space: nowrap; 
      max-width: 0px;
      overflow: hidden; 
      text-overflow: ellipsis; 
    }
    .filter-content .location{
      display: none;
    }
    .filter-content .fulltime{
      display: none;
    }
    .filter-content .checkbox{
      display: none;
    }
  }


  */