<!-- <div style="background-color: blueviolet;">
    <span (click)="jobService.isModalOpen = false">
        <img src="../../../assets/mobile/icon-close.svg" class="w-[45%]" alt="icon-close">
    </span>

    <div>
        <div>
            <img src="../../../assets/desktop/icon-location.svg" alt="icon-location">
            <input type="text" placeholder="Filter by Location..." [(ngModel)]="filterLocation">
        </div>

        <div>
            <input  type="checkbox" [(ngModel)]="filterFullTime">
            <h4 class="font-bold">Full Time Only</h4>
        </div>

        <div>
            <button (click)="applyFilteredJobs()">Search</button>
        </div>
    </div>
</div> -->
<!-- *ngIf="jobService.isModalOpen" -->
<div class="modal-overlay">
    <div class="modal-container">
        <span (click)="jobService.isModalOpen = false">
            <img src="../../../assets/mobile/icon-close.svg" class="close-icon" alt="icon-close">
        </span>

        <div class="modal-content">
            <div class="location-details">
                <img src="../../../assets/desktop/icon-location.svg" alt="icon-location">
                <input type="text" placeholder="Filter by Location..." [(ngModel)]="filterLocation">
            </div>

            <div class="divider"></div>

            <div class="full-time-checkbox">
                <input type="checkbox" [(ngModel)]="filterFullTime">
                <h4 class="font-bold">Full Time Only</h4>
            </div>

            <div class="search-button">
                <button (click)="applyFilteredJobs()">Search</button>
            </div>
        </div>
    </div>
</div>
