  
<div class="modal-overlay" [ngClass]="getDarkModeClass()">
    <div class="modal-container">
        <span (click)="jobService.isModalOpen = false">
            <!-- <img src="../../../assets/mobile/icon-close.svg" class="close-icon" alt="icon-close"> -->
        </span>

        <div class="modal-content">
            <div class="location-details">
                <img src="../../../assets/desktop/icon-location.svg" alt="icon-location">
                <input class="location-input" type="text" placeholder="Filter by Location..." [(ngModel)]="filterLocation">
            </div>

            <div class="divider"></div>

            <div class="full-time-checkbox">
                <input class="checkboxx" style="width: 24px; height: 24px;" type="checkbox" [(ngModel)]="filterFullTime">
                <h4 class="font-bold">Full Time Only</h4>
            </div>

            <div class="search-button">
                <button style="background-color: #5964E0; width: 279px; height: 48px; border: none; border-radius: 5px; color: #FFFFFF; cursor: pointer;" (click)="applyFilteredJobs()">Search</button>
            </div>
        </div>
    </div>
</div>
