.dark-mode {
    background-color: #19202D;
    color: white;
}

.dark-mode .modal-container{
    background-color: #19202D;
}
  
.dark-mode input {
    color: white;
    background-color: #19202D;
}

.dark-mode .search-button{
    cursor: pointer;
}

.dark-mode .checkboxx input[type="checkbox"] {
    background-color: #19202D;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.modal-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.location-details,
.full-time-checkbox,
.search-button {
    margin-bottom: 15px;
}

.location-details,
.full-time-checkbox {
    gap: 10px;
    display: flex;
    align-items: center;
}

.location-input{
    border: none;
    outline: none;
}

.full-time-checkbox {
    gap: 10px;
}

.search-button {
    display: flex;
    justify-content: center;
}

.divider {
    height: 1px;
    background: #6E8098;
    margin: 10px 0;
}